<%- include('_metadata/beg.ejs', {pageTitle}) %>
<!-- CSS FILES START HERE -->
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
<style>
    html,body {
        height: 100%!important;
    }
</style>
<!-- CSS FILES END HERE -->
</head>
<body> 
    <%- include('headerFooter/login/loginHeader.ejs') %>
<!-- MAIN CONTENT FROM HERE -->
    <!-- SIDE BAR MENU -->
    <style>
        * {
            margin:0px;
            padding:0px;
            box-sizing:border-box;
            font-family:sans-serif;
          }
           
          #sidebar-wrapper {
            position:absolute;
            top:10%;
            left:-200px;
            width:200px;
            height:92%;
            background:#212529;
            transition:all 300ms linear;
            z-index: 10;
          }
          #sidebar-wrapper.active {
            left:0px;
          }
          #sidebar-wrapper .toggle-btn {
            position:absolute;
            left:220px;
            top:10px;
          }
          #sidebar-wrapper .toggle-btn span {
            display:block;
            width:30px;
            height:5px;
            background:#212529;
            margin:5px 0px;
            cursor:pointer;
          }
          #sidebar-wrapper div.list div.item, button.item {
            padding:15px 10px;
            border-bottom:1px solid #444;
            color:#fcfcfc;
            text-transform:uppercase;
            font-size:15px;
          }
          #sidebar-wrapper div.list button.item {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #444;
            width: 100%;    
          }
          #sidebar-wrapper div.list button.item:hover{
              font-weight: 900;
          }
          #sidebar-wrapper div.list button.item.active{
              font-weight: 800;
          }
    </style>
    <!-- --------------------------------------------------------------------------------------- -->
    <div class=".container-fluid mx-auto-my-auto text-center w-100" style="height:90%!important">
        <!-- Modal -->
        <div class="modal fade" id="modalDiv" tabindex="-1" role="dialog" aria-labelledby="modalDivTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDivTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modalBody" class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="appCtrl.sendPostToFinishWork(dataCtrl,uiCtrl)">Save changes</button>
                </div>
                </div>
            </div>
        </div>
        <div id="alert" class="alert alert-dismissible fade" style="position: absolute;right: 0;top:0;margin-top: 6px;width: 70%;" role="alert">
            <div id="text" class="w-100 mx-auto my-auto text-center">

            </div>
            <button type="button" class="close" onclick="uiCtrl.showHideAlert(null,null,'hide')" style="float: right;">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="sidebar-wrapper">
            <div class="toggle-btn" onclick="appCtrl.toggleSidebar(this,uiCtrl)">
                <span></span>
                <span></span>
                <span></span>
            </div>  
            <div class="list">
                <button id="user-information-btn" class="item">User information</button>
                <button id="work-hours-btn" class="item">Register worked hours</button>
                <button id="logout-btn" class="item">Log-out</button>
            </div>
        </div>
        <div id="main-content-spinner" class=".container-fluid w-100 h-100 mx-auto my-auto text-center" style="display:none;position: absolute;background-color: rgba(240, 240, 240, 0.7)">
            <div class="row h-100 w-100">
              <div class="col-12">
                <img src="/img/spinner2.gif" alt="Spinner" height="75%">
              </div>
            </div>
          </div>
        <div id="main-content-wrapper" class="container-fluid w-100 h-100 mx-auto my-auto text-center">

        </div>
    </div>
    
<!-- MAIN CONTENT UNTILL HERE -->
    <%- include('headerFooter/login/loginFooter.ejs') %>
</body>
<!-- SCRIPT FILES START HERE -->
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="/js/bootstrap/jquery.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="/js/developerPages/dashboard/appCtrl.js"></script>
    <script src="/js/developerPages/dashboard/dataCtrl.js"></script>
    <script src="/js/developerPages/dashboard/uiCtrl.js"></script>
    <script src="/js/developerPages/dashboard/main.js"></script>
<!-- SCRIPT FILES END HERE -->

<%- include('_metadata/end.ejs') %>