<link rel="stylesheet" href="https://administrative.dgmieth.live/css/bootstrap/bootstrap.min.css">
<body>
  <div class=".container-fuild w-100 mx-auto my-auto text-center" style="height: 10%!important;background-color: black;">
    <nav class="navbar navbar-dark bg-dark h-100">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <div class="h-100 text-center" style="background-image: url('/img/kkfBBQ_icon.png');background-repeat: no-repeat;background-size:100% 100%;"></div>
            <!-- <img src="/img/kkfBBQ_icon.png" alt="kungfu BBQ icon" width="30" height="24" class="d-inline-block align-text-top">-->
            Kungfu BBQ administrative system
          </a>
        </div>
      </nav>
</div>
  
</body>
