<div class=".container-fuild w-100 mx-auto my-auto text-center" style="height: 10%!important;background-color: black;">
    <nav class="navbar navbar-dark bg-dark h-100">
        <div class=".container-fluid h-100">
          <a class="navbar-brand h-100 mx-auto my-auto" href="/">
            <div class="d-flex flex-row h-100">
              <div class="p-2 h-100">
                <img src="/img/kkfBBQ_icon.png" alt="kungfu BBQ icon" class="d-inline-block align-text-top" style="height:100%!important;padding-left: 5px;">
              </div>
              <div class="p-2 align-self-center">
                <div class="row my-auto h-100">
                  <div class="col-12 ">Kungfu BBQ administrative system</div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </nav>
</div>